/* Import Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background-image: url("prototype.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    font-family: 'Roboto Flex';font-size: 22px;
}/*
body {
    background-image: linear-gradient(
        to bottom,
        #f7f7f7 0%,
        #f7f7f7 70%,
        #5f56e7 70%,
        #5f56e7 100%
    );
    height: 100vh;
    display: flex;
    font-family: 'Roboto Flex';font-size: 22px;
}*/
.container{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    background: #f7f7f7;
    width: 100%;
    height: 90px;
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: 18%;
    padding-right: 15%;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(206, 206, 206, 0.1) inset;
}
.logo{
    width: 130px;
    height: 130px;
    cursor: pointer;
}
nav{
    flex: 1;
    padding-left: 60px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 700;
}
nav a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #5f56e7;
}
.navbar .btn{
    display: inline-block;
    background: linear-gradient(45deg, #0a0a0a, #000000);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}
.navbar .btn:hover{
    background: linear-gradient(45deg, #5f56e7, #5f56e7);
}
.top-content{
    width: 100%;
    height: 100%;
    display:contents;
    justify-content: center;
    align-items: top; 
}
.wrapper-main{
    width: 100%;
    margin-top: 50px;
    align-items: center;
    padding-left: 600px;
    font-size: 60px;
    font-weight: 700;
}
.wrapper{
    width: 100%;
    margin-top: 10px;
    align-items: center;
    padding-left: 640px;
    font-size: 45px;
    font-weight: 10px;
}
.wrapper2{
    width: 100%;
    margin-top: 15px;
    align-items: center;
    padding-left: 785px;
    font-size: 25px;
    color: #363636;
}
.card-container {
    display: flex;
    flex-direction: row; 
    padding-left: 350px; 
    padding-top: 50px;
    gap: 70px;
}
.white-card{
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(40px);
    border: 2px solid rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    height: 550px;
    width: 300px;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: black;
}
.bold-text{
    font-size: 40px;
    font-weight: 600;
}
.crd-title{
    font-size: 30px;
    font-weight: 100;
}
.crd-title1{
    margin-top: 20px;
    font-size: 25px;
}
.crd-title2{
    margin-top: 20px;
    font-size: 15px;
    color: #7c7c7c;
}
.card-list{
    list-style-position: inside;
    list-style-image: url("img/available.png");
    font-size: 20px;
    margin-top: 20px; 
}
.btn-grp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}
button{
    padding: 12px 45px;
    border-radius: 10px;
    font-size: 25px;
    gap: 05em;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
button:hover{
    background-color: black;
    color: white;
}
button:nth-of-type(1){
    background-color: black;
    color: white;
}
button:nth-of-type(1):hover{
    background-color: white;
    color: black;
}
.black-card{
    background-color: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(40px);
    border: 2px solid rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    height: 550px;
    width: 300px;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: rgb(255, 255, 255);  
}
.card-listB{
    list-style-position: inside;
    list-style-image: url("img/availablew.png");
    font-size: 20px;
    margin-top: 20px; 
}
.btn-grpB{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}
.BNW{
    padding: 12px 45px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
    gap: 05em;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(255, 255, 255);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.BNW:hover{
    background-color: rgb(184, 184, 184);
    color: rgb(0, 0, 0);
}
.BNW:nth-of-type(1){
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.BNW:nth-of-type(1):hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.side-img{
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 0;
    right: 160px;

}

