/* Import Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
body {
    background-image: linear-gradient(
        to bottom,
        #f7f7f7 0%,
        #f7f7f7 70%,
        #5f56e7 70%,
        #5f56e7 100%
    );
    height: 100vh;
    display: flex;
    font-family: 'Roboto Flex';font-size: 22px;
}
.container{
    height: 100vh;
    width: 100%;
    padding-left: 18%;
    padding-right: 10%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    background: #f7f7f7;
    width: 100%;
    height: 90px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 130px;
    height: 130px;
    cursor: pointer;
}
nav{
    flex: 1;
    padding-left: 60px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 800;
}
nav a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #5f56e7;
}
.navbar .btn{
    display: inline-block;
    background: linear-gradient(45deg, #0a0a0a, #000000);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}

.top-content{
    width: 100%;
    height: 100%;
    display:contents;
    justify-content: center;
    align-items: top;
}